/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: BCFTOOLS_VIEW {
        ext.args = { [ "",
            params.filter ? "-f PASS": "",
            "--output-type z"
            ].join(" ").trim() }
    }

    withName: GUNZIP {
        publishDir        = [
            //specify to avoid publishing, overwritten otherwise
            enabled: false
        ]
    }

    withName: PICARD_LIFTOVERVCF {
        publishDir = [
            [
                path: { "${params.outdir}/liftover/lifted/" },
                mode: params.publish_dir_mode,
                pattern: "*.lifted.vcf.gz"
            ],
            [
                path: { "${params.outdir}/liftover/unlifted/" },
                mode: params.publish_dir_mode,
                pattern: "*.unlifted.vcf.gz"
            ],
            [
                path: { "${params.outdir}/liftover/logs/" },
                mode: params.publish_dir_mode,
                pattern: "*.log"
            ]
        ]
    }

    withName: TABIX_TABIX {
        publishDir        = [
            //specify to avoid publishing, overwritten otherwise
            enabled: false
        ]
    }

    withName: UNTAR {
        publishDir        = [
            //specify to avoid publishing, overwritten otherwise
            enabled: false
        ]
    }

    withName: VCF2MAF {
        ext.args = { [ "",
            params.run_vep ? "" : "--inhibit-vep",
            meta.normal_id ? "--normal-id ${meta.normal_id} --vcf-normal-id ${meta.vcf_normal_id}" : "",
            meta.tumor_id  ? "--tumor-id ${meta.tumor_id} --vcf-tumor-id ${meta.vcf_tumor_id}"     : "",
            "--retain-fmt AD,AF,DP,GQ,GT,STR",
            "--retain-info AS_FilterStatus,AS_SB_TABLE,DP,MBQ,POPAF,STR,ANN,LOF,NMD",
            "--retain-ann Allele,Consequence,IMPACT,SYMBOL,Gene,Feature_type,Feature,BIOTYPE,EXON,INTRON,HGVSc,HGVSp,CDNA_position,CDS_position,Protein_position,Amino_acids,Codons,Existing_variation,DISTANCE,STRAND,FLAGS,VARIANT_CLASS,SYMBOL_SOURCE,HGNC_ID,CANONICAL,MANE,MANE_SELECT,MANE_PLUS_CLINICAL,TSL,APPRIS,CCDS,ENSP,SWISSPROT,TREMBL,UNIPARC,UNIPROT_ISOFORM,GENE_PHENO,SIFT,PolyPhen,DOMAINS,miRNA,AF,AFR_AF,AMR_AF,EAS_AF,EUR_AF,SAS_AF,gnomADe_AF,gnomADe_AFR_AF,gnomADe_AMR_AF,gnomADe_ASJ_AF,gnomADe_EAS_AF,gnomADe_FIN_AF,gnomADe_MID_AF,gnomADe_NFE_AF,gnomADe_REMAINING_AF,gnomADe_SAS_AF,gnomADg_AF,gnomADg_AFR_AF,gnomADg_AMI_AF,gnomADg_AMR_AF,gnomADg_ASJ_AFIgnomADg_EAS_AF,gnomADg_FIN_AF,gnomADg_MID_AF,gnomADg_NFE_AF,gnomADg_REMAINING_AF,gnomADg_SAS_AF,gnomADg_EAS_AF_POPS,FREQS,CLIN_SIG,SOMATIC,PHENO,PUBMED,MOTIF_NAME,MOTIF_POS,HIGH_INF_POS,MOTIF_SCORE_CHANGE,TRANSCRIPTION_FACTORS",
            "--any-allele",
            "--ncbi-build ${params.genome.tokenize('.')[-1]}",
            "--species homo_sapiens"
        ].join(" ").trim() }
        publishDir = [
            path: { "${params.outdir}/maf" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
