/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run qbic-pipelines/vcftomaf -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data

    input        = '/home-link/afijo01/repos/vcftomaf/tests/samplesheets/samplesheet_local.csv'
    fasta        = '/home-link/afijo01/repos/vcftomaf/tests/testdata/genome.fasta'
    intervals    = '/home-link/afijo01/repos/vcftomaf/tests/testdata/genome.bed'
    vep_cache    = '/home-link/afijo01/repos/vcftomaf/tests/testdata/vep.tar.gz' //test with vep 
    genome       = 'GRCh38'
    run_vep      = true


}
